[2014-09-02 11:43] JamesMGreene opened #1 "Standard Events/Hooks"
We on the [QUnit](http://qunitjs.com/) team have been [discussing](https://github.com/jquery/qunit/issues/531) the possibility of working with other JS test frameworks that can be run client-side (e.g. Mocha, Jasmine, Intern, Buster, etc.) to agree upon a standard Reporter interface so that we could hopefully share Reporter plugins between testing frameworks.

This would most likely come in the fo

[2014-09-02 19:23] JamesMGreene opened #2 "Invite other JS unit testing framework teams?"
Are there any other JS unit testing framework teams that we should invite?
- JsUnit: ~4 years stagnate
- JsUnity: ~5 years stagnate
- ScrewUnit: ~4 years stagnate
- JsTestDriver: ~2 years stagnate
- YUITest: Just [got axed ~1 week ago](http://yahooeng.tumblr.com/post/96098168666/important-announcement-regarding-yui)

I also think we can safely leave out the server-side-only frameworks like NodeUni

[2014-09-05 02:05] JamesMGreene opened #3 "Standard API"
In this issue thread, I would like to focus on standardizing the Reporter API/interface so that we could hopefully share Reporter plugins between testing frameworks.

This would most likely come in the form of:
- an EventEmitter interface (`.on(...)`/`.off(...)`) _**OR**_ an object with particular property names (e.g. `runStarted`/`onRunStart`/etc.)
- particular events/properties that would handle

[2014-09-05 02:28] JamesMGreene opened #4 "Standard for test status"
In this issue thread, I would like to focus on standardizing the collection of test statuses (status names) between testing frameworks.

Some of the known status types from various frameworks:
 - **Success** &mdash; A test that succeeded without any failures, errors, or timeouts
 - **Failure** &mdash; A test that failed, typically due to an assertion failure
 - **Error** &mdash; A test that failed

[2014-09-05 03:21] JamesMGreene opened #5 "Types of Reporters"
In the original grand discussion thread (#1), @boneskull [mentioned the desire to discuss which _types_ of reporters should be standard](https://github.com/js-reporters/js-reporters/issues/1#issuecomment-54214732) as well:

[2014-09-05 19:38] #5 closed, assigned to JamesMGreene

[2014-09-09 16:38] Krinkle opened #6 "Missing data when registering too late"
A common problem in continuous integration is that reporters miss data due to inherent race conditions in the environment, thus often resorting to unfortunate workarounds.

Given this set of ideals:
- Have a simple HTML file that developers can run in their browser (e.g. using Jasmine or QUnit).
- This HTML file should have no knowledge of which automated system may be used or which reporters that

[2014-09-09 16:39] Krinkle opened #7 "Roadmap"
To be specified / known issues we want to address:

 - [ ] #3: Common API
     - [ ] method names
     - [ ] registration mechanism
     - [ ] #1: Common events/hooks
         - [x] event names (completed via PR #9)
         - [ ] format of event data
     - [ ] #4: Common test status
         - [ ] consistent terminology

[2014-09-17 13:38] #6 closed, assigned to JamesMGreene

[2014-09-19 07:05] dtracers opened #8 "Random Supporter Thread"
As a random person that is neither an author of a framework, reporter, or consume but instead just someone who uses tests I find this as something amazing!

If there are some ways I can help let me know!

(other than that this issue can be closed!)

[2014-09-25 11:35] #8 closed, assigned to nobody

[2014-09-25 11:36] #2 closed, assigned to nobody

[2015-05-04 15:48] fcarstens opened #11 "Google Summer of Code 2015"
Hi all,

Good news: jQuery secured a Google Summer of Code slot this summer to get an initial standard established and implemented. I'm the lucky student who will work on this, so I quickly want to say hello and let you know what's planned. :smiley:
You can find a rough timeline  in my GSoC [proposal](http://www.google-melange.com/gsoc/proposal/public/google/gsoc2015/fcarstens/5629499534213120). T

[2015-05-04 18:35] Jonahss commented on #11
:+1:  Awesome!

[2015-05-05 08:11] jbnicolai commented on #11
That's great! :smile:

[2015-05-30 11:53] fcarstens opened #12 "Event Data"
In this issue, I would like to focus on standardizing the event data format for the runEnd event. The runEnd event should provide a summary to integration tools when all tests are finished. First let's start with a look at the existing events (and please correct me if I'm wrong somewhere!).

### QUnit
`QUnit.done(function(details){}) ` provides a summary of the tests
[code]
There is no information

[2015-06-09 12:34] jzaefferer commented on #1
Intern 3.0 implemented a new interface for custom reporters. The event names from our draft match, but there's plenty additional events. Docs are here: https://theintern.github.io/intern/#custom-reporters

[2015-06-13 12:43] jzaefferer commented on #11
:+1: First results can be seen in #12, more to come.

[2015-06-13 12:43] #11 closed

[2015-06-13 13:10] jzaefferer commented on #12
I mentioned in #1 that Intern 3 implemented a new reporter interface. It looks like that has a `runEnd` event that provides an `Executor` instance. I didn't find any information about that type, the [`Custom Exectutor` docs are still a todo](https://theintern.github.io/intern/#custom-executors). May need to dig into the implementation to find out more.

As for the open questions: Having a `runEnd`

[2015-06-13 13:11] jzaefferer commented on #1
Discussing `runEnd` event in #12. Includes discussion about data relevant for other events as well.

[2015-06-13 14:20] JamesMGreene commented on #12
Thanks for getting the ball rolling again, @fcarstens!

[2015-06-16 15:28] fcarstens commented on #12
Here is a proposal for the event data structure which is heavily inspired by mocha: [data.js](https://github.com/fcarstens/js-test-examples/blob/master/data.js).
We have two basic entities:
- **Tests**: a test holds basic information on a single test. What exactly we want to put in there needs to be seen, this is more of a stub now.
- **Suites**: a suite has three properties:
  - name
  - tests: a

[2015-06-17 12:02] jzaefferer commented on #12
These methods would have to be mapped to static data structures to represent them in JSON, though that should be straight-forward enough.

Adding `suiteName` to each test sounds fine, too.

To your questions: Whatever the individual properties are, I have a strong preference to avoid generic and ambiguous names like `passed`. We can have `passedAssertions`, `passedTests` and `passedSuites` instead

[2015-07-10 18:13] fcarstens commented on #12
Here's a complete proposal based on https://github.com/js-reporters/js-reporters/issues/12#issuecomment-112470619: the basic structure are the suite and test objects as described above. The following table lists what other frameworks provide and what we want to do for js-reporters.

### Aggregated test results

| Suite Summary              | QUnit   | Mocha* | Jasmine* | Buster

[2015-07-12 05:02] boneskull commented on #1
ok, I'm sitting down rewriting our reporter interface, so I'm wondering if I should use the draft or what.  can we like, vote on it?

[2015-07-13 10:22] jzaefferer commented on #1
@boneskull we don't have a formal voting process, maybe we don't need one. So far there were no objections to the draft event names. Intern 3 is implementing the names already, you could go ahead and do the same. You're also welcome to review the proposal for event data in #12 - your feedback would help get that finished!

[2015-07-13 10:41] jzaefferer commented on #12
Now that we have a mostly complete proposal for the js-reporters event data, I'm hoping we can get people from various projects involved again. I'm trying to notify those mentioned or involved before, and a few we hadn't notified before:

* QUnit: @JamesMGreene @Krinkle @leobalter
* Mocha: @boneskull @travisjeffery @mantoni
* Jasmine: @slackersoft @ragaskar
* BusterJS: @cjohansen @dwittner
* Inter

[2015-07-15 11:48] jzaefferer commented on #1
@boneskull any thoughts on the above? Are you going to use the proposed event names?

[2015-07-15 17:38] boneskull commented on #1
Seems fine to me, but I'll cc @mochajs/mocha

[2015-07-15 17:38] boneskull commented on #1
guess you can't do that.

[2015-07-15 17:38] boneskull commented on #1
cc @travisjeffery @a8m @danielstjules @dasilvacontin @jbnicolai

[2015-07-15 19:53] jbnicolai commented on #1
@boneskull thanks for the inclusion. I'll get back to this tomorrow when I've had time to have a closer look. Kudos on getting back to this, still think the /js-reporters/js-reporters project is awesome!

[2015-07-15 20:14] dtracers opened #14 "Test Runner Interface"
Hi I have been following this repo for a while because I am a big fan of unit testing javascript and the projects I work on are very unusual in terms of structure using javascript and I like good code quality overall.

I know the goal of this is to unify the reporters to make it easier for everyone which is awesome.
But I was wondering if you guys put any thoughts into making a common interface fo

[2015-07-21 08:57] jzaefferer commented on #14
I've read this twice, but I'm still not sure what problem you're trying to solve, and what your solution is. Could you put together some sketch code to outline the issue? Or point at some existing test runner code to show what part you want to standardize?

[2015-07-21 18:59] dtracers commented on #14
Sure!  I actually have been thinking about this and it may be solved by other parts of the reporting framework?

So for my particular example I will use QUnit because that is what I am most familiar with, but I am sure it applies to others.

So I have been trying to use QUnit with a webdriver (selenium) to automate browser testing.
currently no reporting exists with the webdriver so there is no wa

[2015-07-24 12:55] jzaefferer opened #16 "Adapters: Versioning"
The generated dist file needs a header with license and version information.

[2015-07-24 12:56] jzaefferer opened #17 "Adapters: Better test infrastructure"
From #15:

[2015-07-24 12:57] jzaefferer commented on #17
@JamesMGreene can you make me an owner for this repo (or the entire org) or add @fcarstens as a committer to this repo, or both?

[2015-07-24 12:58] jzaefferer opened #18 "Adapters: Implement *start events"
runStart, suiteStart, testStart. These are harder to implement since frameworks either don't have these events or don't provide any data. May need to defer emitting some events in order to emit all of them in the right order.

[2015-07-24 13:09] jzaefferer opened #19 "Adapters: Implement runEnd.status and testEnd.errors"
Looking at the integration into browserstack-runner, the runEnd.status is pretty important to output if the run passed or failed. To output error results, I need testEnd.errors. Without those I can't really use the adapters to replace anything.

For reference, the browserstack-runner adapters: https://github.com/browserstack/browserstack-runner/tree/master/lib/_patch

[2015-07-24 14:05] jzaefferer commented on #14
I still can't tell how the issue is related to the goal of the js-reporter project. Webdriver integration certainly is a good problem to tackle, but very much out of scope here.

Have you looked at tools that provide webdriver integration out of the box, like Intern? The 3.x releases provide a QUnit interface, so you can use tests written for QUnit.

[2015-07-25 20:50] dtracers commented on #14
If you think this out of scope then that is fine and you can close this. :+1:  But I think there are other reporters that could also benefit.

An example I thought of are code coverage reporters.  Typically They have to take the existing javascript and then insert a marker between every line of code to make sure it is reached.

Obviously there are lots of edge cases and potentials for race conditi

[2015-07-27 13:59] jzaefferer commented on #12
@fcarstens can you create a PR that updates the tables above, adds the remaining ones for other events, adds all that to a separate file and adds suggested event data to the main README? Maybe that format will be easier to review.

[2015-07-27 19:36] csnover commented on #14
It sounds like what you are looking for is a testing solution that integrates all of this stuff for you like [Intern](https://theintern.github.io/). What it sounds like you are running into is simply the fact that not all test systems are designed well to do this sort of work; a shared reporters project like js-reporters is unlikely to be able to enforce the sorts of architectural changes that wou

[2015-07-28 00:35] Raynos commented on #12
@jzaefferer

Tape outputs TAP and only TAP.

You can use https://www.npmjs.com/package/tap-out to get JSON out.

You can write something similar to tap-out that outputs js-reporters JSON.

[2015-07-28 11:06] jzaefferer commented on #14
Thanks @csnover, I agree with that.

[2015-07-28 11:06] #14 closed

[2015-08-12 10:04] #17 closed

[2015-08-12 10:06] fcarstens commented on #17
Closed by #23.

[2015-08-12 16:54] #19 closed

[2015-08-20 15:39] fcarstens opened #27 "Add examples to README"
Add examples to README as discussed in https://github.com/js-reporters/js-reporters/pull/25#issuecomment-130709569.

[2015-08-21 13:15] #16 closed

[2015-08-21 13:16] #18 closed

[2015-08-24 15:05] #1 closed

[2015-08-24 15:05] #4 closed

[2015-08-24 15:05] #12 closed

[2015-10-25 17:00] leobalter opened #30 "events details types"
On the README doc I miss the types for the event details, so I'm assuming:

- **Test**: `object` - *A test holds basic information on a single test/spec.*
  - `testName`: `string` - name of the test
  - `suiteName`: `string` - name of the suite the test belongs to
  - `status`: `string` - result of the test. Can `"passed"`, `"failed"` or `"skipped"`. A skipped test is disabled, i.e. it will not be

[2015-10-29 16:40] jzaefferer opened #31 "testEnd property for all assertions"
QUnit reports all assertions, passing or failing: http://api.qunitjs.com/QUnit.log/

There's no need for all frameworks to provide that, but it would make sense to have an array of assertions on the testEnd event. QUnit could make use of that, other frameworks could just leave it null/undefined, reporters can then see if its there and skip it if not.

[2015-10-29 16:46] jzaefferer commented on #30
errors is an array of Error objects with (optional?) additional properties, see later part of https://github.com/js-reporters/js-reporters/issues/12#issuecomment-120483356

[2015-10-29 16:50] jzaefferer commented on #30
For `Suite`:

- childSuites: array of Suite
- tests: array of Test
- status: 0 to n sounds right, for all three
- adding `status.total` as failed + skipped + passed makes sense, since that seems like a pretty common usecase

[2015-10-29 17:32] jzaefferer commented on #30
@fcarstens your help getting this into the spec would be much appreciated!

[2016-03-02 22:04] jzaefferer commented on #7
Closing in favor of remaining open issues.

[2016-03-02 22:04] #7 closed

[2016-03-02 22:11] jzaefferer opened #32 "Help implement js-reporters in QUnit"
See https://github.com/jquery/qunit/issues/531, https://github.com/jquery/qunit/issues/405 and https://github.com/jquery/qunit/pull/882

[2016-03-02 22:13] jzaefferer opened #33 "Use js-reporters via adapters in browserstack-runner"
Create a pull request to replace existing adapters with the js-reporters interface (and our adapters) in https://github.com/browserstack/browserstack-runner/

[2016-03-02 22:14] jzaefferer opened #34 "Propose using js-reporters interface in Mocha or Jasmine"
Needs some research and communication to see if there's any interest (file an issue), if so, prototype the integration in a pull request.

[2016-03-03 15:36] jzaefferer commented on #30
Btw. the current draft was partially developed in this Google Doc, might still be useful: https://docs.google.com/document/d/1E9X90ODgnMW8bTssIAkfRIQiGX0n0FaGI1vk3geviIs/edit?usp=sharing

[2016-03-03 15:39] jzaefferer opened #35 "Welcome new contributors"
When James originally started this effort, he did a good job getting people interested (there's still a lot of people with write access to this repo), but almost no one stuck around. My efforts last year getting the same people interested again didn't go anywhere either.

Maybe we need to recruit some new people, like https://twitter.com/searls or use different communication channels.

[2016-03-06 11:51] cynicaldevil commented on #34
@jzaefferer Hi, I had contacted you via e-mail about contributing to this repo. You had suggested me to finish up the remaining work on the mocha adapter, and I think I will look in to it now.

[2016-03-06 16:19] jzaefferer commented on #34
Yeah, though the place to start is #28. This issue here could be a next step.

[2016-03-06 16:56] cynicaldevil commented on #34
Ah sorry, I had originally meant to reply to you on this issue ( #35 ) here, but I had multiple issues open on different tabs and in my hurry I accidentally commented on this one.

[2016-03-16 09:31] frantic1048 opened #37 "Update to Babel 6"
Several dependencies of js-reporters are outdated. Like babel 5, it's no longer maintained, and changed configuration in version 6.

I suppose the deps should be updated. And I'm going to fix this.

[2016-03-16 09:58] jzaefferer commented on #37
Outdated dependencies by themselves aren't an issue. Updating Babel to 6+ makes sense though.

[2016-03-17 09:01] #37 closed

[2016-04-15 21:48] leobalter opened #40 "Tap adapter"
While there is a tap reporter on this project I believe a Tap adapter would be essential.

With the tap adapter this project may connect to basically any testing framework with a standardized tap reporter.

There are some parsers available on npm that can be used for integration

[2016-04-16 16:29] jzaefferer commented on #31
To clarify, while `testEnd.errors` provides a list of failed assertions, it ignores/skips passing assertions. To rebuild QUnit's HTML reporter on top of js-reporters, we'd have to provide both.

[2016-04-18 13:34] flore77 commented on #31
Now it is clearer. I see 2 solutions here, we can introduce a new event in the standard something like `assertion done`, or even 2 events `assertion failed` and `assertion passed`, or we can only add a new prop to the `Test` object, like `Test.assertions` type `{Array}`.

And yes, it would be really hard for all frameworks to provide this, for example `Mocha` generates something like this on `test

[2016-04-18 15:13] jzaefferer commented on #31
Waiting for #30 makes sense. We can get back to this, then.

One note about event naming - the draft spec has some details on [how the names were picked](https://github.com/js-reporters/js-reporters#selection-criteria), this is relevant to your suggestions: "It uses names that are valid JavaScript identifiers, which allows using those as keys in JSON and avoids the need to quote keys in regular JS

[2016-04-18 15:21] flore77 commented on #31
Indeed, it is a good criterion :+1:

[2016-04-23 18:43] flore77 opened #42 "Bundling setup"
## Need

We need a proper bundle so that we can import it anywhere.

## Deliverables
A proper bundle that will also work in the browser.

## Current Problem
Now we are using `babel` to transform the [code generated](https://github.com/js-reporters/js-reporters/blob/43394e970cee759d0affdb1351848a4cdb815fc5/build.js#L17) by `rollup`, and babel is breaking the code, by passing for the `global` parame

[2016-04-23 18:51] flore77 commented on #42
@jzaefferer please review this specs.

Also please tell me:
1. do we mantain the current setup (i.e using rollup programtically), or we can switch to a `rollup.config.js` file, and then only run `rollup` from `command line`.
2. do we keep the thing with the [license-header](https://github.com/js-reporters/js-reporters/blob/43394e970cee759d0affdb1351848a4cdb815fc5/lib/license-header.js)

`rollup.co

[2016-04-24 10:22] jzaefferer commented on #42
I'm fine with switching to the config.js approach. We should keep the license header.

[2016-04-24 12:45] flore77 opened #44 "Use JavaScript Standard Style"
## Need

We need a clean and organize code base.

## Deliverables

A clean code, which is easy to read.

## Solution

Use [standard](https://www.npmjs.com/package/standard), which does not need any configuration, except for ignores.

[2016-04-24 12:47] flore77 commented on #44
@jzaefferer what do you think ? If you agree I will update the list with all the rules, that I consider necessary, and then we can add or remove some.

[2016-04-24 15:47] frantic1048 commented on #44
I'd recommend a complete rule set, or extend based on a complete one. Something like [AirBnB Style](https://github.com/airbnb/javascript), [Standard Style](https://github.com/feross/eslint-config-standard) or [Canonical Style](https://github.com/gajus/eslint-config-canonical). They set most rules at error level which restricts code style tightly, and the overall style could be very determinate.

H

[2016-04-24 15:48] jzaefferer commented on #44
Let's try https://www.npmjs.com/package/standard here, that removes the need for configuration (except for ignores) and there's other tools building on top (like standard-format and editor plugins).

[2016-04-24 16:02] #42 closed

[2016-04-25 12:36] flore77 commented on #44
I'm ok with most rules, but the `no-semicolons` I really do not like, also [google style guide](https://google.github.io/styleguide/javascriptguide.xml#Semicolons) strictly recommends to use semicolons, because they can cause problems.

[2016-04-25 13:18] flore77 commented on #44
Are you ok with that rule @jza

[2016-04-25 13:48] jzaefferer commented on #44
Yes, I wouldn't have suggested it otherwise. I've been writing JS just fine without semicolons for almost a year now. The two cases where they cause problems are prevented by the same tool, so its fine.

[2016-04-25 15:46] flore77 commented on #44
Alright then, I didn't knew that is handling also the problem cases :+1: I have never written without semicolon and I was afraid I will get some bugs.

I have updated the details of the issue, as also renamed it.

[2016-04-25 18:26] #44 closed

[2016-04-28 14:06] jzaefferer opened #47 "Update QUnit version and adapter to make use of nested modules support"
Newer QUnit versions support nested modules. Maybe that works well enough that we can use the same `test/referenceData.js` for all 3 adapters.

Would also be good to test QUnit 2.0.0-rc1 (or newer), to make sure our adapter works with that.

[2016-04-29 09:47] jzaefferer commented on #47
@flore77 I think this would be a good next step. Should help bring the tests in line.

[2016-04-29 09:51] flore77 commented on #47
Sure :+1:

[2016-05-04 06:48] boneskull commented on #35
fwiw I'm still interested in getting this done, but it's just been slow.

[2016-05-04 08:15] jzaefferer commented on #35
Good to know! We'll be making lots of progress here as part of the Google Summer of Code project this year. At some point we're going to propose the js-reporters adapter as a Mocha reporter (or something along that line). Your feedback and integration help will be very welcome there!

Also let us know if there's a better option.

[2016-05-20 17:00] flore77 opened #50 "Fix Mocha Adapter"
After the [new testing](https://github.com/js-reporters/js-reporters/tree/9aba15bc8a801b5a1b8f0829b7fb534cfa46317a/test/integration) we need to fix some issues in the adapter.

## Issues

[1] The current adapter do not permit `suites` or `tests` with the same name, for example:

[code]
Both tests will have the same suite as suite parent, which is `suite2`.

This is happening because the `tests` ar

[2016-05-20 17:01] flore77 commented on #50
@jzaefferer please review this.

[2016-05-21 10:50] jzaefferer commented on #50
[1] I'm not sure what that would look like, let's give it a try.

[2] Let's try not mutating objects, instead creating them from scratch every time. So instead of grabbing the previous object, call the convert method again and add to the result.

[3] Looks like we didn't look into that [when doing the research last year](https://docs.google.com/document/d/1E9X90ODgnMW8bTssIAkfRIQiGX0n0FaGI1vk3gevi

[2016-05-21 10:55] flore77 commented on #50
Hmm, I guess the solution for [2], would also solve also [1] :smile: I will start with that one.

[2016-05-21 20:48] flore77 commented on #50
For [3] `Mocha` does `not` provide a `full name`, it is providing only the name of the test, so we must do the concatenation.

I have looked over `karma-mocha` and I have seen that they are also storing a [full name](https://github.com/karma-runner/karma-mocha/blob/master/src/adapter.js#L123-L127), but not concatenated, instead putting every suite name in an array (I don't for what they need it),

[2016-05-21 22:16] jzaefferer commented on #50
If we provide the full name, will be it possible to also access the individual pieces?

[2016-05-22 08:02] flore77 commented on #50
No, because we are concatenating it as a `string`, so we will not know which is the name of the first, second, ..., suite. For our tests fixture: the nested test has as `suiteName`: **outter suite inner suite**, and you cannot tell in how many suites the test is nested and which are their names.

[2016-05-22 08:40] jzaefferer commented on #50
Okay, let's stick with that.

[2016-05-23 13:21] flore77 opened #55 "Constants file"
## Need

We need a `constants file` so that we can quickly change values in the entire project.

## Deliverables
A file that will contain all our constants, like: `events names`, `test statuses` etc.

## Solution
Create a file that exports multiple objects like:

[code]

We can also use [keymirror](https://www.npmjs.com/package/keymirror):
[code]
And replace the `strings` with the the defined cons

[2016-05-23 13:23] flore77 commented on #55
What do you say @jzaefferer ? I personally find it very useful, because if someday we decide that `testStart` event should be renamed in `testOnStart`, it wouldn't be so nice, to search it in the whole project to replace it.

[2016-05-23 16:00] jzaefferer commented on #55
I'm not sure what problem this is supposed to solve. Changing `testStart` to `testOnStart` would be a breaking change and shouldn't be easy. At the same time, doing a search-and-replace isn't complicated.

Replacing strings with identifiers that have the same value as the string doesn't add any value. If the strings don't match the identifiers, they become confusing instead.

[2016-05-23 18:33] flore77 commented on #55
Yes, but there are strings that we use across multiple files and I thought it would be good to store them into constants variables and to use the variables instead.

Yes, it would be a breaking change in the standard, but it would be really easy to implement, for example for the tests statuses if you think that it would be better to be: `skip`, `pass` and `fail`. You should do the changes in only

[2016-05-25 12:23] jzaefferer commented on #55
I remember doing just that, also for event names, on a project some years ago, then later realized that it was a bad idea and reverted it all. As far as I remember, the abstraction didn't add any value, it just made things more error-prone.

I'm fine with looking for other abstractions that fulfil the other aspects you described, but this isn't it.

[2016-05-25 12:23] #55 closed

[2016-05-25 12:44] flore77 commented on #55
ok :smiley:

[2016-05-25 14:45] #50 closed

[2016-05-27 14:34] flore77 opened #57 "Fix QUnit Adapter"
After the [new testing](https://github.com/js-reporters/js-reporters/tree/9aba15bc8a801b5a1b8f0829b7fb534cfa46317a/test/integration) we need to fix some issues in the adapter.

## Issues

[1] The `QUnit global module` is emitted also on [suiteStart](https://github.com/js-reporters/js-reporters/blob/49b51f43ce8ed2d1b05a95def7250883ad97c7b9/lib/adapters/QUnitAdapter.js#L46) event, as also on [suiteE

[2016-05-27 14:37] flore77 commented on #57
@jzaefferer please take a look

[2016-05-27 14:57] jzaefferer commented on #57
1-4: Suggested solutions sound good.

5: Please file an issue for QUnit (along with a PR, if possible), while also doing the workaround in the adapter.

6: That's an interesting one. QUnit came later, but apparently didn't bother checking existing implementations for that. Also something we should file against QUnit. Not sure if we'll be able to work around that, at least in our tests. Should at l

[2016-05-27 15:29] flore77 commented on #57
Sure. Do you receive a notification that there is a new issue, no ? I was doing that only for the notification.

[2016-05-27 15:40] jzaefferer commented on #57
I get notified for new issues, so no need for extra comment.

[2016-06-09 19:15] #57 closed

[2016-06-10 13:01] flore77 opened #62 "Tests emitting order"
The Common Reporter Interface should also specify in which order the tests should be emitted.

The most natural would be the `source order` in which tests are emitted in the order they were written.

`Mocha` runs the tests in suite order, which means if it finds a suite that contains tests and other suites, it emits the start of the top level suite and then emits its tests, then the other suites,

[2016-06-11 13:30] flore77 commented on #47
Solved in #58 and #60.

[2016-06-11 13:30] #47 closed

[2016-06-11 20:54] flore77 opened #63 "Fix Jasmine Adapter"
After the [new testing](https://github.com/js-reporters/js-reporters/tree/9aba15bc8a801b5a1b8f0829b7fb534cfa46317a/test/integration) we need to fix some issues in the adapter.

## Issues

[1] Objects are **emitted** are then **mutated**. [Emitted](https://github.com/js-reporters/js-reporters/blob/e5c9a836dfeaa9288843c277c4c32ca954d784b4/lib/adapters/JasmineAdapter.js#L80) and [mutated](https://git

[2016-06-12 16:22] jzaefferer commented on #63
On [2], removing the suite name where needed should be easy enough, right?

The rest looks good.

[2016-06-12 19:52] flore77 commented on #63
Yes, but I didn't know what to write :laughing: the solution will come out from the implementation, then I will fill in.

[2016-06-14 18:24] #63 closed

[2016-06-15 09:46] jzaefferer commented on #33
@flore77 now that all three adapters are working well, let's give this a try?

[2016-06-15 09:58] flore77 commented on #33
Sure, I was looking also to #34.

[2016-06-15 12:48] jzaefferer commented on #33
That also works, should be fine to do in parallel. Up to you what you start with. Either way its time to get more people and projects involved.

[2016-06-19 16:41] flore77 opened #65 "Nested suite name"
Currently only tests have as `suiteName` a concatenated name of the nested suites.

Example:

[code]

emitted outer suite object:
[code]

emitted inner suite object:
[code]

emitted test object:
[code]

[2016-06-19 20:26] jzaefferer commented on #65
Its somewhat inconsistent, but not unreasonable. What do you suggest to do here?

[2016-06-20 19:16] flore77 commented on #65
Yeah, it is a bit inconsistent.

I'm not sure I think we can add another property to represent the concatenated name, like:

[code]

The `fullname` prop can be the concatenated name, and we should use a character to separate it, `>` or `#` or something.

Or it can be an array of names, like:
[code]

[2016-06-20 19:28] flore77 commented on #65
I think it may be useful, because I have seen that also [Karma](https://github.com/karma-runner/karma-mocha/blob/6dcb82a44f0c5e98c4c7172d79739820b6058de8/src/adapter.js#L123-L127) is building a concatenated name. I don't now yet at what is using it, but if it creates its it must be used at something.

[2016-06-20 20:33] flore77 commented on #31
@jzaefferer we can do this now.

* Qunit - can provide this through his [log callback](http://api.qunitjs.com/QUnit.log/)
* Jasmine - can provide this through its `failedExpectations` and `passedExpectations` props available through the `specDone` callback
* Mocha - cannot provide this

I think the best solution for this would be to to put a new property on the test object, `test.assertions`. Shou

[2016-06-20 20:56] flore77 opened #67 "Update TAP reporter"
Update TAP reporter to be [TAP13](https://testanything.org/tap-version-13-specification.html) compliant.

[2016-06-22 20:57] flore77 opened #68 "Test suite's status and runtime props"
Currently the testing does not verify the `status` and `runtime` props of `suites`.

This props are implemented through ES6 getters, so they have dynamically computed values.

I see 2 ways to test the props:

1 - To make the properties constant

2 - To create 2 new tests for this props

[code]

I am open to other suggestions.

[2016-06-24 10:13] jzaefferer commented on #68
Does it matter that the props a getters? From the users/clients/tests perspective, they should look like normal properties and we should be able to test them as such, no?

[2016-06-24 18:08] flore77 commented on #68
Yes, from the users/clients/etc. perspective it is perfectly fine, they are seeing them as normal props.

My problem is with their testing, because currently we are doing a `deep equal` comparison, I am not sure how it is implemented in `Chai`, if it is testing also this dynamic props, but it does not matter.

It does not matter, because if it **verifies also this props, they will be for sure the

[2016-06-24 23:12] jzaefferer commented on #68
Oh, because the reference data is using the same computed property as the actual data. Then your 2nd suggestion makes sense, using separate tests for those computed properties.

[2016-06-24 23:12] jzaefferer commented on #68
Or replacing them with regular properties, which might serialize better...

[2016-06-28 10:00] jzaefferer commented on #33
@flore77 let's focus on integrating our adapters into browserstack-runner. I'm optimistic that they'll accept a PR. It'll show that this project is going somewhere.

[2016-06-28 10:23] flore77 commented on #33
@jzaefferer sure, I opened an [issue](https://github.com/browserstack/browserstack-runner/issues/157) on their repo, but no one answered yet.

[2016-06-28 10:49] jzaefferer commented on #33
That's okay, let's work on a PR and present that.

[2016-06-28 18:07] #68 closed

[2016-06-28 18:09] #67 closed

[2016-07-11 20:12] leobalter commented on #40
I've been playing with http://github.com/bterlson/test262-harness to run test262 and I planning to create something that runs it in an automated process.

js-reporters could fetch the results data (test262-harness has a tap output using tape). This data would be useful to publish in many different ways, like a percentage of browsers compatibility.

[2016-07-13 13:25] flore77 commented on #65
@jzaefferer we should also continue this one.

[2016-07-13 13:35] jzaefferer commented on #65
Sure, but I'd like to finish the browserstack-runner PR, so that they can review it.

[2016-07-18 17:17] flore77 commented on #65
@jzaefferer can I go for this ? I think also [browserstack](https://github.com/browserstack/browserstack-runner/blob/d14d04801fabb34bbd6a518fb6638b73356cdac5/lib/_patch/qunit-plugin.js#L50) would benefit from this.

[2016-07-18 18:14] jzaefferer commented on #65
Would you replace https://github.com/browserstack/browserstack-runner/pull/159/files#diff-885d5623bc9f0fada7aa1bcdcdde5574R30 with `testName: test.fullName.join(" ")`?

Alternative property name: `canonicalName`?

[2016-07-18 18:37] flore77 commented on #65
Yes! So do we make the `test.fullName` an array of names ?

Sure. But why this name ?

[2016-07-19 09:05] jzaefferer commented on #65
Let's go with `fullName` as array.

[2016-07-19 16:13] jzaefferer commented on #31
`test.assertions` sounds good to me. Can contain the same failed assertions as `test.errors`.

For Mocha it'll be empty or contain the one error?

[2016-07-19 16:30] flore77 commented on #31
I don't know.  I guess it would be better if it'll be empty, because it wouldn't reflect the true meaning of the prop, assertions.

Yes, I think this prop can contain the native assertions emitted by each framework and `test.errors` would contain a normalized error.

[2016-07-19 16:47] jzaefferer commented on #31
Okay, let's start with that. Could still try to normalize `test.assertions` later.

[2016-07-19 17:15] flore77 commented on #31
Hmm, and then should it be good to have also `assertions` as also `errors` ?

If we provide `normalized assertions`, something like:

[code]

It would be trivial to get `errors` out of this with a simple filter, `assertions.filter(assertion => assertion.type === 'failed')`.

[2016-07-19 19:28] jzaefferer commented on #31
Are you suggesting `test.errors` wouldn't be necessary? I wouldn't go there.

[2016-07-20 06:43] #65 closed

[2016-07-20 14:44] flore77 commented on #31
Hmm, I was only thinking to not have duplicate data. But because this property is optional, I think it wouldn't be such a big deal.

I will begin the implementation and we'll see how it comes out.

[2016-07-20 19:47] flore77 opened #79 "Normalizing assertions"
I am thinking something like:

[code]

Certainly `actual`, `expected`, `message` and `stack` are mandatory. i am not sure about `name` and `result`.

I think `name`, should be the name of the error, this could be useful, to know if the test failed because of an assertion, or it was the actual code  that generated an error.

`result` could be useful to quickly differentiate between a passed asserti

[2016-07-22 11:19] flore77 commented on #79
@jzaefferer what do you think about it?

[2016-07-23 15:39] jzaefferer commented on #79
What are some example values for `name`?

`result` lacks in clarity. Maybe `passed` or `failed`?

[2016-07-23 16:42] flore77 commented on #79
The property can be called or `result` with possible values: `passed` , `failed` or it can be called `succesful` with values: true, false.

For `name` it could be for an error that happend after a failed assertion `AssertionError`. And other errors that can be generated by other code, could have a personalized name, if the thrown error has one, if not it could be assigned a generic name, like `Err

[2016-07-23 18:13] boneskull commented on #79
Is this in scope?  This looks like an "assertion library" thing; not a "reporter" thing.

[2016-07-24 12:49] flore77 commented on #79
Indeed assertions are generated by assertion libraries, but they are reported through the reporting interface and it would be nice if all frameworks would emit the assertions in the same format, so that in reporters would be really easy to display/format/etc. them. An example would be the [browserstack integration](https://github.com/browserstack/browserstack-runner/pull/159/files#diff-885d5623bc9

[2016-07-24 17:50] boneskull commented on #79
OK, I see.  A couple notes around this regarding Mocha:

- It has a notion of a passed test and a failed test of course, but also a "skipped" or "pending" test (this terminology is somewhat confused).  So, a boolean `success` field may then be inappropriate.  I don't know offhand if this "third state" is part of the specification.
- The types of `actual` and `expected` are not defined; these can b

[2016-07-24 19:56] flore77 commented on #79
Yes, it is part, we defined it as `skipped`.

It is a good point, indeed, but I think it could be suitable for `passed` and `failed` tests, because this tests have assertions that have been evaluated, on the other hand `skipped tests` have no assertions so there will be nothing to emit for them.

Also this issue is somehow bound to #31, because what we discuss here will be implemented in the pr, #

[2016-07-24 20:23] flore77 commented on #79
So there would be:

[code]

Normalized assertions will be contained in the test `errors` prop and `assertions` prop.

For the `testStart` event both will be undefined.
For the `testEnd` event:
 - passed test:
   - errors: []
   - assertions: [list of all assertions\] (obviously there will be only passed ones)
 - failed test:
   - errors: [list of all failed assertions\]
   -  assertions: [list of

[2016-07-24 21:42] boneskull commented on #79
Mocha cannot emit a list of assertions. It's possible that popular assertion libs could one day have "adapters" which enable advanced integration, but I doubt this would ever be required to use one.

A list of failed assertions will also never be greater than length one (1), since the first failed assertion will fail the test.

Tangentially, it could be argued a test containing multiple assertions

[2016-07-24 21:44] boneskull commented on #79
You may as well call `actual`/`expected` "`*`" since either one may also be `undefined`.

[2016-07-24 22:41] flore77 commented on #79
Yes, we are aware that Mocha cannot provide this. But this is ok, because this `assertions` prop is not mandatory, it is for test frameworks like `Jasmine` and `QUnit`, that provide a list of passed/failed assertions, because they will not bail on the first failed assertion.

What do you recommend for Mocha for this `assertions` prop to be an empty array or to contain the one error (thrown by the

[2016-07-24 23:56] boneskull commented on #79
If I was writing a user-facing API, I'd go for flexibility...

...but to reduce cognitive overhead for implementors of reporters, it may be prudent to simply require an `Array` value, even if empty.  This may be somewhat inconvenient for Mocha--but it absolves the reporter of having to check types, etc.

[2016-07-25 10:37] jzaefferer commented on #79
Defaulting empty array for `assertions` (for `testEnd`) sounds good to. I also agree that we can drop the `name` property from the spec - implementers can still provide additional properties on top.

Regarding `skipped`, to clarify: That is a status that tests can have, not assertions.

How about `passed` instead of `success`?

[2016-07-25 11:41] flore77 commented on #79
I agree with defaulting an empty array.

Yes, it's ok.

[2016-07-25 12:17] jzaefferer commented on #30
Also need to add `fullName`

[2016-07-25 19:28] flore77 commented on #62
In my opinion the tests should be executed and reported in `source order`, because I find it the most natural way that also meet the expectation of the developer.

If an option is activated to run tests in another order (some test frameworks have this capability, i.e. to run tests in random order), only then they should be executed in that order and be reported in the order they have been executed

[2016-07-25 19:56] jzaefferer commented on #62
That sounds good to me. That way the spec makes a recommendation, but doesn't force any particular implementation.

[2016-07-25 20:02] searls commented on #62
I don't think it's wise to build a lot of assumptions on top of a default test ordering scheme, to be honest.

Some test frameworks (like RSpec and Minitest) have opted to run tests in random order by default, I believe in part because the same developers who most struggle with test pollution biting them are the ones least likely to discover and enable the option themselves. I've been thinking of

[2016-07-26 09:47] jzaefferer commented on #62
Thanks for the input, those are useful references.

From that perspective, there's a difference between execution and output order. In QUnit, there's 3 types of execution order (source, rerun failed first, random), but the HTML reporter always outputs all tests in source order.

An equivalent console reporter would have to rewrite multiple lines to emulate that behaviour (not trivial, but certainl

[2016-07-26 17:38] flore77 commented on #33
Closed via https://github.com/browserstack/browserstack-runner/pull/159.

[2016-07-26 17:38] #33 closed

[2016-07-26 17:58] boneskull commented on #62
This seems reasonable to me, as well as @jzaefferer's points above.

[2016-07-26 18:23] flore77 commented on #62
This is a really great point.

I was saying in the above comment:

I was thinking to give the developer the feedback that his tests are really executed in another order if he has activated a certain option, but how @searls pointed out there are test frameworks which:

So to maintain the feedback for the developers, test frameworks that have a default execution order, and have options to activate o

[2016-07-26 19:37] #31 closed

[2016-07-26 19:37] flore77 commented on #79
Implemented in #80.

[2016-07-26 19:37] #79 closed

[2016-08-01 12:01] jzaefferer commented on #62
I'm still not sure if that helps. This doesn't seem crucial to make test frameworks and runners inter-operable.

That said, I'm okay with putting this in the spec as a requirement. We can include the examples discussed here to provide some background.

[2016-08-01 21:22] flore77 commented on #27
@jzaefferer can you please explain better what kind of example should be added to the README?

[2016-08-02 17:58] flore77 commented on #30
I have noticed now this Suite property:

failed, number
skipped, number
passed number

Currently `status` is only a string with values: `failed`, `passed` and `skipped`.

We could make an object with the following properties:

[code]

The suite property could be called `details`, status will be a string representing the summarized status, all tests passed, or at least one failed etc, and the other

[2016-08-03 14:21] jzaefferer commented on #27
So about a year ago I wrote:

I'm thinking something like this:
[code]
will produce, among others, a runEnd event like this:
[code]
Then have a variation of that with nested suites.

When we discussed this briefly at the meeting on Monday, I thought that including a kind reference implementation, based on the one we wrote for browserstack-runner, could also be a useful example, showing how to writ

[2016-08-03 14:56] jzaefferer commented on #30
Making `status` a string, consistent with `Test.status` makes sense.

As for the other properties, nesting them seems fine as well. Though `details` isn't very useful. Since we're counting tests, maybe something like `testCounts`?

[2016-08-03 15:33] flore77 commented on #30
Sounds cool. So we could strap out of the nesting, the `status` prop, so we will have:

[code]

[2016-08-03 15:51] flore77 commented on #30
The `testCounts` property will count also the tests of the childSuites.

[2016-08-06 18:07] boneskull commented on #62
Not in this project anyway, but it's an idea that could use some thinking about.  Limiting the experiment to JavaScript...

From my experience, *how tests are run* seems like a finite list (which grows slowly) of useful strategies. Maybe that's a CLI running tests in a node process; several node processes; maybe instead it launches a browser; maybe instead it hits a Selenium server; or even an Ele

[2016-08-06 19:00] boneskull commented on #62
(By "test execution" I mean "the test function" itself. A first pass at the idea should assume the test framework executes the tests itself, but challenging this assumption could be worth exploring later)

[2016-08-10 21:17] flore77 commented on #30
Fixed by #84 and #85.

[2016-08-10 21:17] #30 closed

[2016-08-10 21:22] flore77 commented on #32
Implementing in https://github.com/jquery/qunit/pull/1026.

[2016-08-16 20:58] flore77 opened #91 "Helpers"
While working on the [qunit integration](https://github.com/jquery/qunit/pull/1026), I added js-reporters as a dependency. In my opinion js-reporters should come with some helpers so that it will be easy to adopt the standard.

The scenario that I came through is that when I want to [emit](https://github.com/jquery/qunit/pull/1026/files#diff-7eb52b366866677666470e019283c8eaR251) an object (suite o

[2016-08-17 09:22] jzaefferer commented on #91
Helpers for cloning objects don't really belong here, but since there's more to it, I'm okay with addressing the issue.

At a glance, adding extra types for start and end events makes sense. We should consider doing that in the spec as well - can still extend one with the other. Like "SuiteStart has these properties: [...] SuiteEnd has the same properties as SuiteStart, with the following addition

[2016-08-19 15:50] #27 closed

[2016-09-04 13:40] flore77 commented on #62
Sounds interesting. There could be multiple smaller projects, like js-reporters, and all could be reunited under the same organization, something like, `js-testing-standards`, or something along this line. I am up for this :+1:

Although we should move this discussion somewhere else, maybe in a new issue on this repo :smiley:

[2016-09-04 13:40] flore77 commented on #62
Fixed in #84.

[2016-09-04 13:40] #62 closed

[2016-09-07 11:08] flore77 commented on #3
There is one more thing that I want to settle in this issue, which is:

then I think it can be closed.

Since we have adopted the standard with the EventEmitter interface, I think there should be a method, which can add an infinite number of reporters:

[code]

and there should be also a method in which we set the default reporter (better said overwrite it):

[code]

I am thinking if it would be g

[2016-09-21 19:49] flore77 commented on #3
Yes.

[2016-09-22 07:33] jzaefferer commented on #3
Okay, sounds good to me.

[2016-09-23 10:25] flore77 commented on #3
@boneskull are you ok with this ?

[2016-10-06 19:17] #91 closed

[2017-03-18 23:35] leobalter commented on #40
It seems like we already have it.

[2017-03-18 23:35] #40 closed

[2017-03-18 23:35] leobalter opened #96 "Update CI node versions"

[2017-03-19 05:12] #96 closed

[2017-03-25 19:35] Krinkle opened #98 "Propose using js-reporters in Karma runner"
It would be nice if, for example, a plugin like [karma-reporter-mocha](https://www.npmjs.com/package/karma-mocha-reporter) could be used directly with [qunit-cli](https://github.com/qunitjs/qunit).

If we establish a common API between QUnit and Karma for attaching reporters, this should be possible.

Karma already supports this in a way by abstracting the interfaces for testing libraries and repo

[2017-03-31 04:17] leobalter commented on #32
It's implemented and released!

[2017-03-31 04:17] #32 closed

[2017-03-31 04:20] leobalter commented on #98
That's a great a idea. Do we have someone from the JSF already connected w/ Karma? Or maybe someone we should ping to ask for support/help?

[2017-04-04 18:39] trentmwillis opened #100 "Recommend purging actual/expected values of assertions"
The current spec states that Assertion data should contain the actual/expected values as properties. This is good for reporting, but also prone to memory leaks. By holding onto references for values that are non-primitive, we leak memory over the life of a test suite since Tests hold onto an array of Assertions.

Thus, I think we should recommend that actual/expected values of assertions get "purg

[2017-11-17 22:53] krisselden opened #104 "TapReporter needs circular ref filtering on JSON.stringify"

[2017-11-21 21:02] trentmwillis commented on #104
Definitely a bug. It shouldn't be too hard to fix.

[2017-12-18 21:14] keithamus commented on #35
I'm going to ping my fellow team members on the chai team; @lucasfcosta, @vieiralucas, @meeber, @shvaikalesh.

It might be worth bringing in contributors from other popular testing frameworks. I won't @ them all now but maybe worth reaching out to these people?

[code]

[2017-12-18 21:30] keithamus opened #105 "`todo` property on assertions feels incorrect"
In the current readme, assertion objects have a `todo` parameter - indicating whether or not this was part of a todo test. This feels invalid for a few reasons:

 - As a "separation of concerns" principle, the assertion should not know about its parent state.
 - More concretely to the above bullet point, assertion libraries such as [chai](https://github.com/chaijs/chai) _cannot_ know about the tes

[2017-12-18 22:03] keithamus opened #106 "Consider `diff` property on assertion object"
While it is generally well considered to have the `expected` and `actual` objects attached to the assertion object. They're useful because they allow reporters to print some kind of pretty-formatted diff to allow the developer to more easily reason about the failures in a test. I believe there should be a specced out (but optional) `diff` property also on the assertion object which can be used to

[2017-12-23 22:31] trentmwillis commented on #105
This reasoning seems sound. It was added to assertions data originally because the first implementation within QUnit required it to be present due to the way some of the test reporters work. That said, it should not be a *required* field due to the reasons you list above.

[2017-12-23 22:33] trentmwillis commented on #35
I'd be very happy to have some more involvement on this project! We've more-or-less adopted the standard in QUnit (will be the default in 3.0), but haven't focused on it too much due to lack of interest recently.

[2017-12-23 22:38] trentmwillis commented on #106
I agree that some standardization around diffing would be very valuable. There has been some previous talk on a [related front in QUnit](https://github.com/qunitjs/qunit/issues/1005#issuecomment-222780333), that proposes a different format for representing diffs that may be easier to consume in JS libs.

That said, this seems like something that would be reasonable for the js-reporters project to

[2018-08-16 12:42] plroebuck opened #108 "Correct Spelling"
https://github.com/js-reporters/js-reporters/blob/fa2ee1b74dd46f8d24b3ca4d4f54504c584ca8e9/lib/helpers.js#L22

[2018-09-14 09:41] plroebuck commented on #108
@trentmwillis ping!
This project still open for business?

[2019-02-22 16:44] jeberger opened #109 "Wrong YAML block in TAP report"
YAML blocks in TAP reports may be wrong if one of the fields spans more than one line, which is often the case for stack traces. For example:

[code]

The stack trace is not valid YAML. It should follow the [YAML line folding rules](https://yaml.org/spec/1.2/spec.html#id2779048).

[2019-06-20 23:28] muthu90ec opened #111 "Add optional property for source file to event data (suiteStart or testStart?)"
Hi,
I have a use case where I want to print the name of the testfile before and after the test run.
For eg: if I have two test files
testFIle1.js
QUnit.test("point1", function(assert){
  assert.ok(true);
});

testFile2.js
QUnit.test("point1", function(assert) {
  assert.ok(true);
});

when I run qunit.js --reporter=myreporter test*.js   ...I want the following printed in the console.

testStart=>f

[2019-08-19 15:39] achenwei-chwy opened #112 "Does this work with jest?"

[2019-10-01 13:53] muthu90ec opened #113 "js-reporter does not recognize filtered test points when using QUnit.config.filter"

[2019-10-01 15:01] trentmwillis commented on #112
Unsure! It is designed to be test framework agnostic but I'm not familiar enough with jest's API to know how one would integrate it.

[2019-11-20 11:17] jeberger opened #114 "Backslashes should be escaped in YAML strings."
If an error message contains backslashes, YAML output looks like this:

[code]

which is not valid since the backslash now looks like it's escaping the closing double quote. Instead it should be:

[code]

[2020-06-25 03:53] Krinkle commented on #98
https://github.com/karma-runner/karma/issues/1183

[2020-06-25 03:53] Krinkle commented on #98
Ref https://github.com/karma-runner/karma/issues/1183.

[2020-06-25 03:56] #108 closed

[2020-07-30 16:30] Krinkle commented on #114
I believe this is a duplicate of https://github.com/js-reporters/js-reporters/issues/109 which was fixed in 1.2.2. Let me know if you still find an issue.

[2020-07-30 16:30] #114 closed

[2020-09-07 16:43] Krinkle commented on #109
There was indeed a bug with multi-line strings. The TAP reporter handled those incorrectly, it simply printed them as-is, without considering the YAML output format that we're inside of.

However, while the fix for this was, technically valid, I think it made two mistakes:

1. There are multiple ways to format strings in YAML. The option we choose here is in my opinion not so easy to read (due to

[2020-09-10 01:09] #109 closed

[2020-09-17 17:19] #3 closed

[2020-09-17 17:29] Krinkle commented on #112
I believe the answer is yes. Jest has a reporter interface, similar to QUnit and Mocha:

<https://jestjs.io/docs/en/configuration#reporters-arraymodulename--modulename-options>

And the "test" and "suite"-related events it provides can presumably mapped to those of the JS Reporter spec.

<https://github.com/facebook/jest/blob/v26.4.2/packages/jest-reporters/src/types.ts#L56-L82>

I'm closing this

[2020-09-17 17:29] #112 closed

[2020-09-17 17:37] Krinkle commented on #105
Proposing we make this optional (or simply remove) in the next major release.

I'm interested to know what makes it hard to track in Chai. I completely agree on the separation of concerns and that Chai shouldn't have to track this state. I'm just curious as to why it would be difficult, as that might lead us to uncover a deeper compat issue or difference to be aware of and for us to document inter

[2020-09-17 18:31] Krinkle commented on #111
The mechanism for grouping tests in the js-reporter spec language is "suites". Suites can be stacked or nested and may have any arbitrary string as their name.

Personally, I prefer choosing simple strings for suites and write them explicitly in the code. E.g. using `module()` in QUnit, or `describe()` in Mocha.

[code]

However, it would equally be valid to set these to a filename instead. Either

[2020-09-17 18:37] Krinkle commented on #111
I've adjusted the title to propose adding this to `testStart` or `suiteStart`. The `runStart` event is only fired once even if there are multiple test files loaded.

See also [current event names](https://github.com/js-reporters/js-reporters/tree/v1.2.3#event-names).

@muthu90ec Could you describe more about the bigger picture for you and how/why this is useful? Also, do you think this would be be

[2020-09-17 18:38] Krinkle commented on #113
I believe this is a bug in QUnit. Being worked on downstream at https://github.com/qunitjs/qunit/issues/1407.

[2020-09-17 18:38] #113 closed

[2020-09-20 21:46] Krinkle opened #116 "Skipped tests reported incorrectly under Mocha 8.0+"
The result of `npm run test-integration` with Mocha 8.0 and later is as follows:

<details><summary>log/failed--mocha--8.0.0.log</summary>

[code]
</details>

<details><summary>log/failed--mocha--8.1.3.log</summary>

[code]
</details>

See also:
* [Mocha 8.0.0 Changelog: Breaking changes](https://github.com/mochajs/mocha/blob/v8.1.3/CHANGELOG.md#800--2020-06-10)
* Possibly related change, https://

[2020-09-20 21:59] Krinkle commented on #116
Skipped tests used to have an `undefined` state, but as of Mocha 8.0 they have the `"pending"` state. Perhaps we can safely map that to "skipped"? Maybe not, since it sounds like it would be used for tests that will run but haven't yet?

/cc @boneskull, @juergba Would welcome your recomendation on this matter :)

[2020-09-23 22:26] Krinkle commented on #116
Skipped tests used to have an `undefined` state, but as of Mocha 8.0 they have the `"pending"` state. Perhaps we can safely map that to "skipped"? Maybe not, since it sounds like it would be used for tests that will run but haven't yet?

/cc @js-reporters/mocha Would welcome your recomendation on this matter :)

[2020-09-24 03:09] Krinkle opened #117 "Request for comment: CRI Version 1"
I've turned everything we have so far into a draft specification:
<https://github.com/js-reporters/js-reporters/blob/main/spec/cri-draft.adoc>

To gain experience, it is currently used in stable releases or production versions of:

* [js-reporters](https://www.npmjs.com/package/js-reporters), provides adapters for Mocha, Jasmine, and QUnit.
* [QUnit 2.2](https://github.com/qunitjs/qunit/releases/2

[2020-09-24 03:21] Krinkle commented on #105
I propose that we simply remove it entirely from assertion object. The spec allows additonal non-standard properties to exist, so this would be a backwards-compatible change to make.

Even on QUnit it is always decided per-test, it cannot be set per-assertion.

One thing to keep in mind is how reporters need to read the "todo" status. I recently rediscovered https://github.com/karma-runner/karma-q

[2020-09-24 04:18] Krinkle commented on #100
This was removed in dce64599d541, as I wasn't sure whether it still applies. I'm re-opening to make sure the issue is well-understood and dealt as part of the RFC at https://github.com/js-reporters/js-reporters/issues/117.

Two alternative ideas:

* Remove `assertions` from the TestEnd event data. Perhaps introduce an optional `assertion` event instead. This would mean testing frameworks can let g

[2020-09-24 08:56] keithamus commented on #105
Chai is an assertion library, not a test runner. It has no knowledge of the test runner under execution; it could be jest, ava, mocha, even QUnit. The only way for Chai to know if a test is `todo` is for users to somehow pass that state to it on a per-assertion basis. Chai is essentially just a bag of functions that throw errors if the given object does not meet expectations.

[2020-09-24 15:49] Krinkle commented on #105
@keithamus Thanks, that makes perfect sense indeed.

Do you see Chai or other assertion libraries as potentially implementing some part of the CRI spec?

Perhaps this was obvious, but I had not previously thought of the "Assertion" event data (emitted by test runners), and the assertion exceptions (thrown by Chai) as potentially being one and the same. As said, `todo` definitely should go, and I s

[2020-09-24 16:35] Krinkle commented on #35
@jonathanKingston @isaacs I've invited you both as experts in this area based on your work on [TAP](https://github.com/TestAnything/Specification) and more generally in the wider JavaScript ecosystem.

No obligations. Any input as member or otherwise hugely appreciated.

I'm currently working on getting CRI Version 1 into shape at https://github.com/js-reporters/js-reporters/issues/117.

[2020-09-24 18:08] ljharb opened #118 "tape?"
No idea what would be involved, but tape is more commonly used than most of the frameworks listed in the readme ¯\\\_(ツ)_/¯

[2020-09-24 19:15] Krinkle commented on #118
Sure thing, we wouldn't want a spec that is incompatible or inconvenient with tape.

I haven't been looking into additional frameworks for a while as I hope between the ones we have active integration with now, that we cover all the main primitives in this space. I'm currently focussing on publishing the spec and getting adoption from reporter plugins, and orchestrations/runners. But, the plugin e

[2020-09-24 19:36] ljharb commented on #118
I'm not familiar with QUnit at all, I'm afraid.

[2020-09-25 08:52] keithamus commented on #105
@Krinkle the desire is the next major version of Chai (v5) will implement 3.5 Assertion events as part of the CRI. Any failed assertion will emit an assertion event (and if there are no listeners to that event it'll throw). In a CRI world, I would expect assertion library agnostic runners such as Mocha to simply reflect events coming from assertion libraries like Chai - in other words they _wouldn

[2020-09-25 16:23] johnjbarton commented on #98
Note that karma isn't a testing framework itself but rather hosts other frameworks. The karma reporter protocol is very narrow and I would push it to base it simply on the current 'info' API, making the karma part of this story be just a pipe between the client browser and server. On the client side, reporter calls would be converted to named json packets and reversed on the server side. Here is a

[2020-09-25 21:35] Krinkle commented on #98
@johnjbarton Thanks. Karma's role would indeed be mainly on the consumer/reporting side.

I think we're seeing the same future, but let me reflect in my own words to see if we're thinking the same thing:

* For frameworks, Karma could perhaps support the names and shapes of the Runner API in its "info" protocol. That way, Karma plugins for testing frameworks such as karma-qunit and karma-mocha cou

[2020-09-25 21:36] #105 closed

[2020-09-26 02:36] Krinkle opened #120 "Use local and explicit object literals in adapters"
I'd like to simplify code in the adapters we ship by making them standalone files with little to no indirection, creating the CRI event data explicitly inline.

The aim is:
* Easier debugging for us.
* Serve as fully understandable/self-documented example how CRI works based on a framework the reader is familiar with. (No indirect property creation.)
* Make the code easy to be copied by people to

[2020-09-27 20:33] #120 closed

[2020-09-27 21:12] Krinkle commented on #104
Similar issue fixed in Tape's TAP reporter:
https://github.com/substack/tape/pull/24

Mocha:
https://github.com/mochajs/mocha/commit/365dcd2600feb83d3c847751612e7c1ee149001d

node-tap:
https://github.com/tapjs/node-tap/commit/73aaa92787ef58417f12a4b8755b46dbf664c017

[2020-09-28 10:49] Leooo opened #122 "aws codebuild reports integration"
Hello, this issue is to ask for information / guidance on integrating qunit (used through ember-qunit) with AWS Codebuild, more specifically display test reports in AWS.

Going through the AWS docs, my starting point is that:

* The following test reports formats are [accepted by codebuild](https://docs.aws.amazon.com/codebuild/latest/userguide/test-reporting.html):

Cucumber JSON
JUnit XML
NUnit

[2020-09-30 06:05] Krinkle opened #123 "Allow Error objects in TestEnd.error assertions list"
This follows up from https://github.com/js-reporters/js-reporters/issues/105 where @keithamus brought up the following:

I support this idea.

In concrete terms for CRI, how much of the `Error` object shape should we specify as something reporters may rely on?

In terms of the [ECMAScript spec](https://tc39.es/ecma262/#sec-properties-of-the-error-prototype-object), instances of `Error` effectively

[2020-09-30 06:09] Krinkle opened #124 "Use null instead of undefined for JSON compat"
While writing adapters and tests, I find myself running into confusing diffs and return values due to objects like `{ foo: 1, bar: undefined }` turning into `{ foo: 1 }` after standard JSON serialisation, because `undefined` is not valid in JSON.

I'm proposing to change our use of `undefined` in the spec to `null` instead.

Specifically:

* `SuiteStart.name`: From `string|undefined` to `string|nu

[2020-10-16 15:58] isaacs commented on #35
I'm happy to provide feedback as time allows.  But the big challenge, I think, is that TAP is perfectly adequate for node-tap, and some of the specification is not exactly a 1:1 match to the semantics of the TAP v-pseudo-14 style that node-tap and various CPAN tap modules provide.

[2020-10-16 16:03] isaacs commented on #117
Some challenges with this for node-tap:

- Why are "suite" and "test" two separate concepts?  Isn't a "suite" just the top-most "test"?
- The specification seems to focus on a JS api with events passing between a "runner" object and "suite" or "test" objects.  That's not how node-tap's tests are run.  All tests are standalone programs that write TAP to stdout.  Is there any plan to support a pure

[2020-10-19 20:58] Krinkle commented on #117
Interesting, I had not considered those as similar, but you're right. I'd support merging the "test" and "suite" concepts. It might require some compromises, but I think it's worth giving a try.

Currently:

* a "test" is the lowest measured unit, typically executed after the phase where a framework will load the test suites and plan their execution. A framework might measure runtime duration arou

[2020-10-19 21:03] ljharb commented on #117
ftr, tape also allows nesting tests (groups of assertions), and has no concept of "suites". In tape, you can `t.plan(n)`, but you can also call `t.end()` or return a promise, because no plan is needed in a synchronous test, or when the promise can signal completion.

[2020-10-21 22:05] isaacs commented on #117
Yeah, tape is sort of in the TAP family of test paradigms (along with ava, to some extent), so most of what's said about node-tap would apply to tape as well.

The tap runner does not load all the test files ahead of time.  All tests are run as subprocesses to ensure a clean environment, and their TAP stream is consumed from the child process stdout.  A pool of tests are loaded in parallel, by def

[2020-10-31 18:28] Leooo commented on #122
@flore77 @Krinkle please any idea? Thanks

[2020-10-31 23:05] Krinkle commented on #122
The js-reporters project is still very much in an early stage. But if using QUnit, then probably a [plugin](https://qunitjs.com/plugins/) for it will do the job. If you're running it through something like Karma, then that may also have plugins available that do it for you.

Are you running it on Node.js CLI, or in the browser? If in the browser, how are you currently running it in integration?

[2020-11-01 21:17] Leooo commented on #122
@Krinkle thanks for the response, I'm using `ember test` command to run the tests in my CI using [ember-qunit](https://github.com/emberjs/ember-qunit) (and actually [ember-exam](https://github.com/ember-cli/ember-exam) but I think that is a detail).

[2020-11-02 10:02] Leooo commented on #122
I will investigate using plugins yes - not sure how to do using ember-qunit but I'll explore thanks.

[2020-11-02 14:40] Leooo commented on #122
@Krinkle any hint on how to add such plugins into ember-qunit please? Not finding any issues / precedents for that, and the setup instructions in the addon are not very explicit (["include after the Qunit core script"](https://github.com/JamesMGreene/qunit-reporter-junit#new-api))

[2020-11-02 14:51] Leooo commented on #122
update: have been shown https://github.com/simplabs/testem-gitlab-reporter by @turbo87 that may help

[2020-11-02 17:13] Leooo commented on #122
@turbo87 adding https://github.com/simplabs/testem-gitlab-reporter + https://github.com/xdumaine/testem-multi-reporter as per the docs works like charm for codebuild reports thanks!

[2020-11-02 17:13] #122 closed

[2020-11-07 21:53] Krinkle opened #125 "Defend against console mocks in TAP reporter"
Ref https://github.com/qunitjs/qunit/issues/1340.

If a project is mocking `console.log` because the project in question is, like js-reporters, also related to producing output, then at times it can make the test output broken and very hard to debug.

[2020-11-07 21:55] Krinkle commented on #125
We could capture and cache a reference to `console.log` early on and use that, although that might testing our own output harder since then we can't mock our own console anymore when testing TapReporter whilst using TapReporter. We could workaround that by exposing our cached reference in a pseudu-private property that we can still mock manually.

Alternatively, a bit more elaborate but perhaps cl

[2020-11-12 01:19] Krinkle opened #126 "Allow for tests nested within tests"
* Allow tests to directly contain both assertions and other tests.

Per https://github.com/js-reporters/js-reporters/issues/117#issuecomment-713903902 this is required for node-tap and tape. This does limit a bit how reporters can visualise and lay out the data, but seems worth doing. Especially as it aligns us closer with TAP.

For HTML reporters like QUnit that provide a collapsible list of asse

[2020-11-12 01:19] Krinkle commented on #117
@isaacs Thank you, that helps!

#### JS API

The CRI spec isn't meant to imply JavaScript. The repo's name and heritage do come from that background, though, that's fair. It's important that we (at least) succeed in the JS space to unify the many non-interopable test frameworks, runners, and reporters. But, like TAP, I think CRI could be environment agnostic, specifying only a stream of informatio

[2020-11-12 01:20] Krinkle commented on #126
Requiring consumers to support assertions and nested tests under the same concept does the choices a reporter can use for their visual or textual layout. For assertions to appear between tests, and tests between assertions.

I realize this may insignificant from a TAP perspective. From what I've seen in the TAP community, frameworks are generally exception-based, runners stop after the first error

[2021-01-02 02:44] #124 closed

[2021-01-02 03:38] #125 closed

[2021-01-13 05:36] Krinkle commented on #126
I'm running into a few issues when trying to merge the "suite" and "test" concepts.

The simplest approach, I thought, would be to simply convert suites to tests and call it a day. However, this is proving to be more difficult than I thought. Our TAP reporter, ignores "suite" events. It only acknowledges suite as a concept by means of prefixing the test names (which are provided as part of the tes

[2021-01-13 05:51] Krinkle commented on #126
node-tap, for comparison:

[code]
[code]

[2021-01-13 07:27] Krinkle commented on #126
I'm still interested in hearing other thoughts, but, now that I've done most of the code changes required for this, I'm coming around (once again) to the idea that we don't need suites. We really should just represent suites as tests, I think.

The next thing I'm running into is the `status` and `errors` fields for `TestEnd`. Once a child test has failed, I'm not sure how the enclosing test should

[2021-02-14 06:44] zackthehuman commented on #104
I'd be happy to try and tackle this. I got bit by this 3 months ago and again by it today, resulting in a rather nasty `unhandledRejection` issue with QUnit.

[2021-02-14 06:49] Krinkle commented on #104
@zackthehuman Go for it!

[2021-02-14 21:30] #126 closed

[2021-02-14 21:31] Krinkle commented on #100
Superseded by https://github.com/js-reporters/js-reporters/issues/126.

[2021-02-14 21:31] #100 closed

[2021-02-14 21:33] Krinkle commented on #117
@ljharb I think this is now addressed as part of https://github.com/js-reporters/js-reporters/pull/129. Could you take another look?

[2021-02-14 21:40] Krinkle commented on #116
Tracked down to https://github.com/mochajs/mocha/commit/8236ffd7494 (https://github.com/mochajs/mocha/pull/4223), which introduced a new state `STATE_PENDING` (`"pending"`) and assigned it to the `.state` property which was previously left undefined for this case.

This wasn't mentioned in [the changelog](https://github.com/mochajs/mocha/blob/v8.0.1/CHANGELOG.md) for Mocha 8.0.0, but I guess that'

[2021-02-14 21:45] ljharb commented on #117
It seems OK, but it's hard to know without some kind of programmatic verification tooling/testing.

[2021-02-14 22:20] #116 closed

[2021-02-16 07:11] Krinkle opened #133 "RFC: Spinal Tap (alternative proposal)"
Hi everyone,

Don't worry if you haven't kept up with recent developments here or don't remember how js-reporters works. I'm proposing a new direction, and everything you need to know is right here. What follows is a progress update on how everyone is doing, and what we can do next.

### What is this?

It's a proposal for adopting [TAP](https://testanything.org), a text format for reporting progre

[2021-02-16 16:51] ljharb commented on #133
How does jest fit into this?

Either way, i think that supporting TAP as the primary output format has always been the only viable choice, so i think this sounds like a good direction.

[2021-02-16 19:54] boneskull commented on #133
ship it

[2021-02-16 19:59] boneskull commented on #133
A thing I don't understand is the bit about `console.log`. does TAP specify it must be written to `STDOUT`?  if someone is concerned about this, why not use a different stream?

am end-user workaround for "console.log-style" debugging (that'd otherwise malign TAP output) is just to use `console.error` instead, yes?

[2021-02-16 20:01] ljharb commented on #133
That's what i always do anyways, since stdout output is often being piped to other tools to consume.

[2021-02-21 02:50] Krinkle commented on #118
Thanks for sticking with me, and sorry it took so long. It's odd that it seems in the years prior adopting TAP in this way was never considered. While support for it in Node.js tools has been widespread for a while, actually seeing it used in CLI output by default is still pretty rare apart form tape and node-tap, and using it for browser communication while proven to be viable indeed seems rare b

[2021-02-21 02:50] #118 closed

[2021-02-21 02:50] #35 closed

[2021-02-21 02:52] Krinkle commented on #123
I'm declining this for now,  effectively freezing the CRI event model mostly as-is. Instead I recommend new adopters that are blocked for one reason or another to instead invest in TAP streams. See https://github.com/js-reporters/js-reporters/issues/133.

[2021-02-21 02:52] #123 closed

[2021-02-21 02:54] Krinkle commented on #117
Thanks for all the input. Continuing the conversation at https://github.com/js-reporters/js-reporters/issues/133. Next I'll see what we can do with Karma runner, BrowserStack, and in-browser reporting from frameworks the don't yet support TAP there today.

[2021-02-21 02:54] #117 closed

[2021-02-21 02:58] Krinkle commented on #111
I'm freezing the CRI event model data for now as per https://github.com/js-reporters/js-reporters/issues/133.

Within TAP (TestAnything protocol), the tools available are test names and comment data. If the information needs to be machine-readable with other reporters and such, then you'd be best off using the equivalent of a "test" or "suite" for this purpose. In other words, consider the file as

[2021-02-21 02:58] #111 closed

[2021-02-21 03:29] #104 closed

[2021-04-04 04:05] Krinkle commented on #34
Closing per https://github.com/js-reporters/js-reporters/issues/133 since Mocha and Jasmine already support TAP.

[2021-04-04 04:05] #34 closed

[2022-02-14 13:20] Krinkle commented on #106
I'm closing this for now as there is no programmatic API or `diff` property in the TAP-based future (ref https://github.com/js-reporters/js-reporters/issues/133). The responsibility for rendering diffs etc then lies in individual TAP reporters, where something closer to the test framework would then have to expose the diagnostic information in some form or another and consumers will honour the for

[2022-02-14 13:20] #106 closed